<div>
 <h2 class="ml-5">会員一覧</h2>
 <div class="">
  <h5 class="ml-5">(全会員<%= @customers.count %>件)</h5>
   <% @customer.each do |customer| %>
     <div class="px-5 py-2 customer-each">
      <h3 class=""><%= link_to customer.name, customer_path(customer.id) %></h3>
     </div>
   <% end %>
  <div class="customer-pagi"><%= paginate @customer %></div>
 </div>
</div>

