// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.item-width {
 width: 1400px;
 flex-wrap: wrap;
}

.item {
 width: 350px;
}

.comment-width {
 width: 1400px;
 flex-wrap: wrap;
}

.comment {
 width: 280px;
 height: 150px;
}

.comment-form {
 margin-top: 85px;
}


.item-img-cover {
 width: 200px;
 height: 150px;
 object-fit: contain;
}